@import "./mixins";
@import "./media-mixins";
@import "./variable.scss";

.page-header {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  font-weight: $fw-links;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    padding: 0 20px;
  }

  .logo__title {
    font-weight: 700;
    font-size: 34px;
    &:hover {
      @include hover-links;
    }
  }
  .logo__subtitle {
    font-size: 20px;
    &:hover {
      @include hover-links;
    }
  }
  .page-nav {
    display: flex;
    justify-content: space-between;
    &__menu {
      display: flex;
      @include mobile {
        position: absolute;
        top: 12vh;
        background-color: rgb(202, 202, 202);
        flex-direction: column;
        right: 0;
        width: 100%;
        min-height: calc(100vh - 12vh);
        justify-content: flex-start;
        align-items: stretch;
        padding: 30px 0;
        transform: translateX(0);
        transition: all 0.3s;
      }
      &-active {
        @include mobile {
          transform: translate(100%);
        }
      }
    }
    &__item {
      @include mobile {
        padding-top: 50px;
        padding-left: 50px;
        font-size: 40px;
        font-weight: 700;
      }
    }
    &__link {
      margin-right: 40px;
      &:hover {
        @include hover-links;
        @include mobile {
          color: rgb(0, 110, 255);
        }
      }
    }
  }
  .menu__btn {
    display: none;

    @include mobile {
      display: initial;
      background-color: transparent;
      cursor: pointer;
      border: none;
      padding: 0;
      margin-left: 30px;
      margin-right: 15px;
    }
    &-line {
      background: #2f3035;
      border-radius: 3px;
      height: 3px;
      width: 34px;
      margin: 8px 0px;
    }
  }

  .login-social {
    display: flex;
    align-items: center;
  }
  .header-login {
    margin-right: 20px;
    padding-left: 10px;
    position: relative;
    &:hover {
      @include hover-links;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url(../assets/img/user.svg);
      width: 24px;
      height: 24px;
      top: -5px;
      left: -20px;
    }
    @include mobile {
      display: none;
    }
  }
}

.social {
  list-style: none;
  display: flex;
  justify-content: flex-end;

  &-item {
    margin-right: 15px;
  }
  &-item__link {
    &:hover {
      @include hover-links;
    }
  }
  @include mobile {
    display: none;
  }
}

.header__basket {
  &:hover {
    @include hover-links;
  }
  @include mobile {
    margin-left: 10px;
  }
}
