
ul {
    list-style: none;
    display: flex;
}

li {
    padding: 10px 30px 10px 2px;
}

.red {
    background-color: red;
    color: #fff;
}

.orange {
    background-color: orange;
    color: gray;
}

.yellow {
    background-color: yellow;
    color: #000000;
}